<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>

		<!-- هندلر ASP.NET Core -->
		<handlers>
			<add name="aspNetCore" path="*" verb="*"
				 modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- اجرای ASP.NET Core -->
		<aspNetCore processPath="dotnet"
				arguments="AppShop.Server.dll"
				stdoutLogEnabled="true"
				stdoutLogFile=".\logs\stdout"
				hostingModel="OutOfProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<!-- ست کردن پورت 5000 -->
				<environmentVariable name="ASPNETCORE_URLS" value="https://localhost:5000" />
			</environmentVariables>
		</aspNetCore>

		<!-- React SPA Rewrite -->
		<rewrite>
			<rules>
				<rule name="ReactRoutes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<!-- اگر فایل یا پوشه واقعی بود دست نزن -->
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<!-- مسیرهای assets رو exclude کن -->
						<add input="{URL}" pattern="^/assets/.*" negate="true" />

						<!-- مسیرهای API رو exclude کن -->
						<add input="{URL}" pattern="^/api/.*" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" />
				</rule>
			</rules>
		</rewrite>

		<!-- Default Document -->
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>

		<!-- فعال کردن فشرده‌سازی -->
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />

	</system.webServer>
</configuration>
