.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazirmatn', sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.counterLabel
{
  font-size: medium;
  margin: 10px;
}
.shoppingCard{
  margin: 10px;
}
.shopIcon{
  font-size: xx-large;
}
.marginApp
{
  margin-left:5px;
  margin-right:5px;
}
.userInfo
{
  direction: ltr;
}
.modal-body
{
  direction: rtl;
}
.formInfo {
  width: 75%;
  background-color: rgb(198 233 186);
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}
.rowSum
{
  background-color: mediumseagreen;
}
.borderPaging
{
  border-top: groove;
}
.page-link-App
{
  cursor:pointer
}
.iconRefresh
{
  position: absolute;
  left: 10px ;
}
.colorMenu
{
    background-color:lightgrey;
}
.nav-link {
    color: black !important;
}
.leftBtn {
    left: 22px;
    position: absolute;
}
.animate-card {
    animation: fadeInUp 0.7s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.custom-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.custom-switch input {
  position: relative;
  width: 50px;
  height: 24px;
  background: #ccc;
  outline: none;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
   -webkit-appearance: none;
}

.custom-switch input:checked {
  background: #4caf50;
}

.custom-switch input::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background: white;
  transition: 0.4s;
}

.custom-switch input:checked::before {
  transform: translateX(26px);
}

.custom-switch label {
  font-size: 1rem;
  cursor: pointer;
}
.card-header{
  background-color: #ffdf83 !important;
  margin-top: 1px !important;
}
.font-size{
  font-size: 10px;
  font-family:'Vazirmatn' !important;
}
/* لینک‌های منو افکت دار */
.custom-link {
  color: black !important;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.custom-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.custom-link:hover {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.custom-link:hover::after {
  width: 100%;
}
header h4 {
  letter-spacing: 1px;
}

header p {
  color: #333;
  font-size: 14px;
}

@media (max-width: 576px) {
  header h4 {
    font-size: 16px;
  }
  header p {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  table.table thead {
    display: none; /* هدر حذف میشه در موبایل */
  }

  table.table tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
  }

  table.table td, 
  table.table th {
    display: block;
    text-align: right;
    width: 100%;
    padding: 6px 10px;
    border: none;
  }

  table.table td::before {
    content: attr(data-label); /* متن هدر میاد */
    font-weight: bold;
    margin-left: 5px;
    color: #444;
    display: inline-block;
    min-width: 70px;
  }

}

